@font-face {
    font-family: 'typo';
    src: url('../../assets/fontFiles/typo.otf') format('woff2'),
         url('../../assets/fontFiles/typo.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }