.container{
    background-color: #282828;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.navText{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 600;
}
.leftDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.rightDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nextBtn {
    background-color: #1e1e1e;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
}
.centerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}